body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../img/top-view-map.jpg");
  
    /* Full height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

nav {
    background: linear-gradient(-45deg, #25a8ff, #239cff);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

#small-text {
    font-size: small;
}

#smallish-text {
    font-size: smaller;
}

.clean-hero div.text{
    margin: 80px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-brand span {
    width: 20px; 
    display: inline-block;
}

.bottom-knob {
    display: inline-block;
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 28px;
background: #212121;
box-shadow:  10px 10px 20px #151515, 
             -10px -10px 20px #2d2d2d;
}

.bottom-knob a {
    margin: 28px;
}

.summary-item.svelte-xldb6f {
    background: #FFFFFF;
    color: #424242;
    max-width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 2.5em;
    font-size: 0.9em;
    margin-left: 17em;
    position: relative;
    margin-bottom: 5em;
    display: inline-block;
}

.summary-accent-bg-triangle-left.svelte-xldb6f {
    position: absolute;
    transform: scaleX(-1);
    top: -21px;
    left: 19px;
}

.summary-accent-bg-triangle.svelte-xldb6f {
    position: absolute;
    top: -21px;
    right: 19px;
}

.summary-accent-bg.svelte-xldb6f {
    position: absolute;
    width: calc(100% - 4em);
    left: 50%;
    top: -21px;
    transform: translateX(-50%);
}

.summary-accent.svelte-xldb6f {
    color: white;
    padding: 2em;
    text-align: center;
    position: relative;
    margin-top: 1em;
}

.summary-name.svelte-xldb6f {
    position: absolute;
    top: -1em;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    left: 0;
    width: 100%;
}

.summary-accent-value-container.svelte-xldb6f {
    border-radius: 50%;
    width: 11em;
    height: 11em;
    background: rgba(19, 7, 17, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    flex-direction: column;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5), inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.summary-accent-value.svelte-xldb6f {
    font-size: 2em;
}

.summary-accent.svelte-xldb6f {
    color: white;
    text-align: center;
}