body, html {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../img/top-view-map.jpg");
  
    /* Full height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.page {
    background-color: 151515;
}

nav {
    background: linear-gradient(-45deg, #5fd0ec, #239cff);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    transition: top 0.3s;
}

#top-filler {
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color: #212121;
}

#small-text {
    font-size: small;
}

#smallish-text {
    font-size: smaller;
}

#cactus {
    position: fixed;
    bottom: -2px;
    left: 2em;
  }

#cactus2 {
    position: fixed;
    bottom: -2px;
    right: 5em;
  }

#cactus3 {
    position: fixed;
    bottom: -2px;
    left: 10em;
  }

.clean-hero div.text{
    margin: 80px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-brand span {
    width: 20px; 
    display: inline-block;
    /* padding-bottom: 15px; */
}

.bottom-knob {
    display: inline-block;
    margin: 50px;
    width: 100px;
    height: 100px;
    border-radius: 28px;
background: #212121;
box-shadow:  10px 10px 20px #151515, 
             -10px -10px 20px #2d2d2d;
}

.bottom-knob a {
    margin: 28px;
}

.centerwrapper
    {
       margin: auto;
       width: 100%;
    }

.summary-item.svelte-xldb6f {
    background: #FFFFFF;
    color: #424242;
    max-width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding: 2.5em;
    font-size: 0.9em;
    position: relative;
    margin-bottom: 5em;
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    .summary-item.svelte-xldb6f {
    margin: 2em;
    }

    .clean-hero {
        height: calc(100vh - 80px);
    }
}

@media only screen and (max-width: 600px) {
    .cactus {
        width: 10%;
    }

    #cactus {
        left: -3px;
      }
  
    #cactus2 {
        right: -8px;
        width: 15%;
      }
  
    #cactus3 {
        visibility: hidden;
      }

    .clean-hero {
        height: calc(100vh - 62px);
    }

    #coronawidget {
      width: 100%;
    }


}

.summary-accent-bg-triangle-left.svelte-xldb6f {
    position: absolute;
    transform: scaleX(-1);
    top: -21px;
    left: 19px;
}

.summary-accent-bg-triangle.svelte-xldb6f {
    position: absolute;
    top: -21px;
    right: 19px;
}

.summary-accent-bg.svelte-xldb6f {
    position: absolute;
    width: calc(100% - 4em);
    left: 50%;
    top: -21px;
    transform: translateX(-50%);
}

.summary-accent.svelte-xldb6f {
    color: white;
    padding: 2em;
    text-align: center;
    position: relative;
    margin-top: 1em;
}

.summary-name.svelte-xldb6f {
    position: absolute;
    top: -1em;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    left: 0;
    width: 100%;
}

.summary-accent-value-container.svelte-xldb6f {
    border-radius: 50%;
    width: 11em;
    height: 11em;
    background: rgba(19, 7, 17, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    flex-direction: column;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5), inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.summary-accent-value.svelte-xldb6f {
    font-size: 2em;
}

.summary-accent.svelte-xldb6f {
    color: white;
    text-align: center;
}

.redirect-btn {
    height: 75px;
    width: 300px;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
}

.base-timer {
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }

  #footer-shoutout {
    color: whitesmoke;
  }
